body {
  font-family: Didot, Palatino, Times, serif;
}
body > header {
  font-size: 300%;
}
header {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
p {
  margin: 0.5em 0;
}
table {
  margin: 10px 20px;
  border-spacing: 0;
  border-collapse: collapse;
}
td {
  vertical-align: baseline;
}
td:first-child {
  text-align: right;
  padding-right: .5em;
}

article {
  margin: 1em auto;
  max-width: 600px;
}

ul {
  text-align: justify;
}
li {
  margin: .5ex 0;
}
